{% extends "layout.html" %}
{% block content %}
<div class="h1">{{ legend }}</div>
<div class="form-group" style="margin-bottom: 250px;">
    <a class="btn btn-secondary mb-4" href="javascript:history.back()">Nazad</a>
    <a class="btn btn-primary mb-4" href="{{ url_for('static', filename='reports/category_reports_past.pdf') }}" target="_blank">Izvoz izveštaja u PDF fajl</a>
    <div class="btn-group mb-4">
        <button type="button" class="btn btn-danger dropdown-toggle mb-4" data-bs-toggle="dropdown" aria-expanded="false">
            Ostali izveštaji
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('reports.category_reports_expediture', inventory_id=inventory_id) }}">Rekapitulacija rashoda po kontima</a></li>
            <li><a class="dropdown-item" href="{{ url_for('reports.category_reports_expediture_item', inventory_id=inventory_id) }}">Rekapitulacija rashodovanih predmeta po kontima</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('reports.category_reports_new_purchases_past', inventory_id=inventory_id) }}">Rekapitulacija novih nabavki po kontima</a></li>
            <li><a class="dropdown-item" href="{{ url_for('reports.category_reports_new_purchases_item', inventory_id=inventory_id) }}">Rekapitulacija nabavljenih predmeta po kontima</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Obračun amortizacije osnovnih sredstava pregled po prostorijama i po predmetima</a></li>
            <li><a class="dropdown-item" href="#">Rekapitulacija obračuna amortizacije po prostorijama</a></li>
            <li><a class="dropdown-item" href="{{ url_for('reports.single_item_working', inventory_id=inventory_id) }}">Stanje inventara</a></li>
            <li><a class="dropdown-item" href="{{ url_for('reports.category_reports_past', inventory_id=inventory_id) }}">Izveštaj po kontima</a></li>
        </ul>
    </div>
    <hr>
    <table id="data" border="1" class="table table-striped userlist">
        <thead>
            <tr>
                <th>Konto</th>
                <th>Nabavna vrednost</th>
                <th>Otpis do tekuće godine</th>
                <th>Otpis u tekućoj godini</th>
                <th>Vrednost na kraju tekuće godine</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                <td>{{ record['category'] }}</td>
                <td>{{ '{:,.2f}'.format(record['initial_price']).replace(',', ':').replace('.', ',').replace(':','.') }}</td>
                <td>{{ '{:,.2f}'.format(record['write_off_until_current_year']).replace(',', ':').replace('.', ',').replace(':','.') }}</td>
                <td>{{ '{:,.2f}'.format(record['depreciation_per_year']).replace(',', ':').replace('.', ',').replace(':','.') }}</td>
                <td>{{ '{:,.2f}'.format(record['price_at_end_of_year']).replace(',', ':').replace('.', ',').replace(':','.') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#data").DataTable({
            order: [[0, "asc"]],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
            // lengthMenu: [100, 200, 400], // Postavljanje podrazumevanih vrednosti za prikazivanje
            paging: false, // Isključivanje paginacije
        });
    })
</script>
{% endblock %}