{% extends "layout.html" %}
{% block content %}
<div class="h1">{{ title }}</div>
<div class="form-group mb-4">
    <a class="btn btn-secondary" href="javascript:history.back()">Nazad</a>
</div>
<table id="data_1" border="1" class="table table-striped userlist">
    <thead>
        <tr>
            <th>ID tipa predmeta</th>
            <th>Serija</th>
            <th>Tip predmeta</th>
            <th>Naziv predmeta</th>
            <th>Količina</th>
            <th>Popisana količina</th>
            <th>Razlika (kom)</th>
            <!-- <th>Razlika (din)</th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in compare_items_list %}
        <tr>
            <td>{{ item.item_id }}</td>
            <!-- <td name="serial_{{ item.serial }}">{{ item.serial }}</td> -->
            <td name="serial_{{ item.serial }}">{{ '{0:05d}'.format(item.serial) }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.quantity_input }}</td>
            <td>{{ item.quantity_input - item.quantity }}</td>
            <!-- <td>{{ item.value_input - item.value }}</td> -->
            <td><a href="{{url_for('single_items.single_item_rooms', item_id=item.item_id)}}" title="Pregled predmeta po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not inventory.status == 'finished' %}
<form action="" method="post">
    <button class="btn btn-danger" type="submit">Zavrišite popis</button>
</form>
{% endif %}

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#data_1").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
            // lengthMenu: [100, 200, 400], // Postavljanje podrazumevanih vrednosti za prikazivanje
            paging: false, // Isključivanje paginacije
        });
    });
</script>
{% endblock %}