{% extends "layout.html" %}
{% block content %}
<div class="h1">{{ title }}</div>
<div class="form-group mb-4">
    <input class="form-control" type="text" value="{{room_name}}" disabled>
</div>
<div class="form-group mb-4">
    <a class="btn btn-secondary" href="javascript:history.back()">Nazad</a>
    <a class="btn btn-primary" href="{{ url_for('static', filename='inventory_lists/inventory_room_list_no_quantity.pdf') }}" target="_blank">Print bez količina</a>
    <a class="btn btn-primary" href="{{ url_for('static', filename='inventory_lists/inventory_room_list.pdf') }}" target="_blank">Print sa količinama</a>
</div>
<form action="" method="POST">
    <table id="data_1" border="1" class="table table-striped userlist">
        <thead>
            <tr>
                <th>ID</th>
                <th>Serija</th>
                <th>Tip predmeta</th>
                <th>Naziv predmeta</th>
                {% if current_user.authorization == "admin" %}
                <th>Količina</th>
                {% endif %}
                <th>Popisana količina</th>
                <th>Komentar</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_item_list_data %}
            <tr>
                <td>{{ item.item_id }}</td>
                <td name="serial_{{ item.serial }}">{{ item.serial }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.name }}</td>
                {% if current_user.authorization == "admin" %}
                <td>{{ item.quantity }}</td>
                {% endif %}
                {%if inventory.status == 'finished' %}
                <td><input class="form-control" type="number" min="0" name="quantity_input_{{ item.serial }}" value="{{item.quantity_input}}" disabled></td>
                <td><input class="form-control" type="text" name="comment_{{ item.serial }}" value="{{item.comment}}" disabled></td>
                {% else %}
                <td><input class="form-control" type="number" min="0" name="quantity_input_{{ item.serial }}" value="{{item.quantity_input}}"></td>
                <td><input class="form-control" type="text" name="comment_{{ item.serial }}" value="{{item.comment}}"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%if not inventory.status == 'finished' %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newSingleItem">Dodajte novu stavku</button>
    <button class="btn btn-primary" type="submit">Sačuvajte izmene</button>
    {% endif %}
</form>
<div class="modal fade" id="newSingleItem" tabindex="-1" role="dialog" aria-labelledby="newSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newSingleItemLabel">Dodavanje novog spredmeta u popisnu listu</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('inventory.add_single_item_to_room')}}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_data">ID / Serija / Tip predmeta / Pedmet</label>
                        <select class="form-select" name="add_single_item_data" id="add_single_item_data">
                            <option value=""></option>
                            {% for item in all_serials_items_list %}
                            <option value="{{item[1]}}">{{item[0]}} / {{ item[1] }} / {{ item[2] }} / {{ item[3] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_quantity">Popisana količina</label>
                        <input class="form-control" type="number" id="add_single_item_quantity" name="add_single_item_quantity">
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="form-control-label" for="add_single_item_inventory_id">Popis_id</label>
                        <input class="form-control" type="text" id="add_single_item_inventory_id" name="add_single_item_inventory_id" value="{{inventory_id}}" readonly>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="form-control-label" for="add_single_item_room_id">Room_id</label>
                        <input class="form-control" type="text" id="add_single_item_room_id" name="add_single_item_room_id" value="{{room_id}}" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_comment">Komentar</label>
                        <input class="form-control" type="text" id="add_single_item_comment" name="add_single_item_comment">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-primary">Sačuvajte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#data_1").DataTable({
            order: [[1, "asc"]],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
            // lengthMenu: [100, 200, 400], // Postavljanje podrazumevanih vrednosti za prikazivanje
            paging: false, // Isključivanje paginacije
        });
    });
</script>
{% endblock %}