{% extends "layout.html" %}
{% block content %}
<div class="h1">{{ title }}</div>
<div class="form-group mb-4">
    <a class="btn btn-secondary" href="javascript:history.back()">Nazad</a>
    <a class="btn btn-primary" href="">Štampa svih listi (bez količina)</a>
    <a class="btn btn-primary" href="">Štampa svih listi (sa količinama)</a>
    <a class="btn btn-danger" href="{{url_for('inventory.compare_inventory_list', inventory_id=inventory_id)}}">Poređenje popisnih rezultata sa stanjem u sistemu</a>
</div>
<hr>
<div class="form-group mb-4">
    {% for building_name in unique_building_names %}
    <div class="form-group">
        <legend>{{ building_name }}</legend>
        <div class="button-container" id="button-container-{{ loop.index }}">
            {% for button in room_buttons %}
            {% if button.building_name == building_name %}
            <a class="btn btn-primary mb-4" href="{{ inventory_id }}/{{ button.room_id }}">{{ button.dynamic_name }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


{% endblock content%}

{% block scripts %}
<!-- <script>
    // JavaScript za dinamički raspored dugmadi
    document.addEventListener("DOMContentLoaded", function() {
        const buttonContainers = document.querySelectorAll(".button-container");
        buttonContainers.forEach(container => {
            const buttons = container.querySelectorAll("a");
            for (let i = 0; i < buttons.length; i += 3) {
                const div = document.createElement("div");
                div.classList.add("button-column");
                container.insertBefore(div, buttons[i]);
                for (let j = 0; j < 3 && i + j < buttons.length; j++) {
                    div.appendChild(buttons[i + j]);
                }
            }
        });
    });
</script> -->


{% endblock %}