<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eaa4d75133.js" crossorigin="anonymous"></script>

    <!-- ovo je za select2 koji ima pretragu u sebi -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mikicustom.css') }}">
  

    {% if title %}
      <title>Popis inventara - {{ title }}</title>
    {% else %}
      <title>Popis inventara</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel">
        <div class="container">
          {% if current_user.is_authenticated %}
          <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">{{ current_user.user_school.schoolname }} | {{ current_user.name }}</a>
          {% endif %}
          <div class="collapse navbar-collapse" id="navbarToggle">

              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Početna</a>
                  <li class="nav-item dropdown dropdown--align-right">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Inventarske aktivnosti</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      {% if current_user.authorization == 'admin' %}
                      <a class="dropdown-item" href="{{ url_for('items.items') }}">Tip predmeta</a>
                      {% endif %}
                      <a class="dropdown-item" href="{{ url_for('single_items.single_item_list') }}">Predmeti</a>
                      {% if current_user.authorization == 'admin' %}
                      <a class="dropdown-item" href="{{ url_for('single_items.move_select_item') }}">Premeštaj</a>
                      {% endif %}
                    </div>
                  </li>
                  {% if current_user.authorization == 'admin' %}
                  <li class="nav-item dropdown dropdown--align-right">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Popisne aktivnosti</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ url_for('inventory.create_inventory_list') }}">Kreiranje popisne liste</a>
                      <a class="dropdown-item" href="{{ url_for('inventory.read_inventory_list') }}">Pregled popisnih listi</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown--align-right">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Izveštaji</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{url_for('reports.category_reports')}}">Izveštaj po kontima</a>
                      <a class="dropdown-item" href="#">Izveštaj 1</a>
                      <a class="dropdown-item" href="#">izveštaj 2</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown--align-right">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Podešavanja</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ url_for('users.user_list') }}">Korisnički nalozi</a>
                      <a class="dropdown-item" href="{{ url_for('schools.school', school_id=1) }}">Škola</a>
                      <a class="dropdown-item" href="{{ url_for('schools.buildings_rooms') }}">Zgrade / Prostorije</a>
                      <hr>
                      <a class="dropdown-item" href="{{ url_for('items.category') }}">Konta</a>
                      <a class="dropdown-item" href="{{ url_for('items.depreciation_rates') }}">Stopa amortizacije</a>
                    </div>
                  </li>
                  {% endif %}
                  <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Odjavite se</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Prijavite se</a>
                {% endif %}
              </div>

          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
