{% extends "layout.html" %}
{% block content %}
<div class="h1">{{ title }}</div>
<div class="row">
    <div class="form-group mb-4 col">
        <legend class="form-control-label" for="item_id_to_move">Predmet</legend>
        <input class="form-control" name="item_id_to_move" id="item_id_to_move" value="{{item.id}}" readonly>
    </div>
    <div class="form-group mb-4 col">
        <legend class="form-control-label" for="item_id_to_move">Predmet</legend>
        <input class="form-control" name="item_id_to_move" id="item_id_to_move" value="{{item.name}}" readonly>
    </div>
    <div class="form-group mb-4 col">
        <legend class="form-control-label" for="room_id_to_move">Prostorija</legend>
        <input class="form-control" name="room_id_to_move" id="room_id_to_move" value="({{room.name}}) {{room.dynamic_name}}" readonly>
    </div>
</div>
<form action="" method="post" id="moveForm">
    <input type="hidden" name="data_to_move_to" id="data_to_move_to">
    <table id="data" border="1" class="table table-striped userlist">
        <thead>
            <tr>
                <th>Zgrada</th>
                <th>Prostorija</th>
                <th>Serija</th>
                <th>Količina</th>
                <th>Seriski naziv</th>
                <th>Količina za prenos</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            {% if room.id != data['room_id'] %}
            <tr>
                <td>{{ data.building }}</td>
                <td>{{ data.room }}</td>
                <td>{{ data.serial }}</td>
                <td>{{ data.quantity }}</td>
                <td>{{ data.single_item_name }}</td>
                <td><input class="form-control" type="number" min="0" max="{{ data.quantity }}" name="quantity_to_move[{{data.serial}}]"></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" onclick="submitForm()">Premestite</button>
</form>

{% endblock content%}

{% block scripts %}
<script>
    $("#data").DataTable({
        order: [[1, "asc"]],
        language: {
            url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
            stateSave: true
        },
        // lengthMenu: [100, 200, 400], // Postavljanje podrazumevanih vrednosti za prikazivanje
        paging: false, // Isključivanje paginacije
    });
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('moveForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            
            var formData = [];
            var table = document.getElementById('data');
            var rows = table.getElementsByTagName('tr');
            
            for (var i = 1; i < rows.length; i++) { // Skipping the header row
                var row = rows[i];
                var inputs = row.getElementsByTagName('input');
                
                var room_id = row.cells[1].innerText; // Assuming the room_id is in the second cell
                var serial = row.cells[3].innerText; // Assuming the serial is in the third cell
                var quantity_to_move_to = inputs[0].value;
                
                formData.push({
                    'room_id': room_id,
                    'serial': serial,
                    'quantity_to_move_to': quantity_to_move_to
                });
            }
            
            // Set the JSON data in the hidden input field
            document.getElementById('data_to_move_to').value = JSON.stringify(formData);
            
            // Submit the form
            form.submit();
        });
    });
</script>
{% endblock %}