{% extends "layout.html" %}
{% block content %}
<div class="h1">{{ title }}</div>
<form action="" method="post">
    <div class="row">
        <div class="form-group mb-4 col">
            <legend class="form-control-label" for="item_id_to_move">Predmet</legend>
            <select class="form-select" name="item_id_to_move" id="item_id_to_move" required>
                <option value=""></option>
                {% for item in item_list %}
                <option value="{{item.id}}">({{ item.id }}) {{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-4 col">
            <legend class="form-control-label" for="room_id_to_move">Prostorija</legend>
            <select class="form-select" name="room_id_to_move" id="room_id_to_move" required>
                <option value=""></option>
                {% for room in room_list %}
                <option value="{{room.id}}">{{ room.room_building.name }} > ({{ room.id }}) {{ room.name }}/{{ room.dynamic_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Dalje</button>
    </div>
</form>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#item_id_to_move').select2({
            // dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: true,
            closeOnSelect: true,
        })
        $('#room_id_to_move').select2({
            // dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: true,
            closeOnSelect: true,
        })
    });
</script>
{% endblock %}