{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="h1">{{ title }}</div>
    <div class="row gap20">
        <div class="col standardbox">
            <form action="" method="post">
                <div class="row">
                    <p class="mb-4">Premeštanje <strong>izabranog tipa predmeta</strong> <span style="color: red;">u</span> <strong>izabranu prostoriju</strong> <span style="color: red;">iz</span> <strong>različitih prostorija</strong></p>
                    <div class="form-group mb-4 col">
                        <label class="form-control-label" for="item_id_to_move_to">Tip predmeta</label>
                        <select class="form-select" name="item_id_to_move_to" id="item_id_to_move_to" required>
                            <option value=""></option>
                            {% for item in item_list %}
                            <option value="{{item.id}}">({{ item.id }}) {{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-4 col">
                        <label class="form-control-label" for="room_id_to_move_to">U prostoriju</label>
                        <select class="form-select" name="room_id_to_move_to" id="room_id_to_move_to" required>
                            <option value=""></option>
                            {% for room in room_list_to %}
                            <option value="{{room.id}}">{{ room.room_building.name }} > ({{ room.name }}) {{ room.dynamic_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="submit_to" name="submit_to">Dalje</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col standardbox">
            <form action="" method="post">
                <div class="row">
                    <p class="mb-4">Premeštanje <strong>izabranog tipa predmeta</strong> <span style="color: red;">iz</span> <strong>izabrane prostorije</strong> <span style="color: red;">u</span> više <strong>različitih prostorija</strong></p>
                    <div class="form-group mb-4 col">
                        <label class="form-control-label" for="item_id_to_move_from">Tip predmeta</label>
                        <select class="form-select" name="item_id_to_move_from" id="item_id_to_move_from" required>
                            <option value=""></option>
                            {% for item in item_list %}
                            <option value="{{item.id}}">({{ item.id }}) {{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-4 col">
                        <label class="form-control-label" for="room_id_to_move_from">Iz prostorije</label>
                        <select class="form-select" name="room_id_to_move_from" id="room_id_to_move_from" required>
                            <option value=""></option>
                            {% for room in room_list_from %}
                            <option value="{{room.id}}">{{ room.room_building.name }} > ({{ room.name }}) {{ room.dynamic_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="submit_from" name="submit_from">Dalje</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#item_id_to_move_to').select2({
            // dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: false,
            closeOnSelect: true,
        })
        $('#room_id_to_move_to').select2({
            // dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: false,
            closeOnSelect: true,
        })
        $('#item_id_to_move_from').select2({
            // dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: false,
            closeOnSelect: true,
        })
        $('#room_id_to_move_from').select2({
            // dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: false,
            closeOnSelect: true,
        })
    });
</script>
{% endblock %}