{% extends "layout.html" %}
{% block content %}
<div class="h1">Podaci škole</div> 
<div class="tab-pane fade show" id="school" role="tabpanel" aria-labelledby="school-tab">
    <a class="btn btn-secondary sec-nazad" href="javascript:history.back()">Nazad</a>
    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#mySchool">Izmenite podatke škole</button>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="row form-group">
            <div class="col form-group">
                {{ form.schoolname.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.schoolname }}" readonly>
            </div>
            <div class="col form-group">
                {{ form.address.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.address }}" readonly>
            </div>
            <div class="col form-group">
                {{ form.zip_code.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.zip_code }}" readonly>
            </div>
            <div class="col form-group">
                {{ form.city.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.city }}" readonly>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group">
                {{ form.municipality.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.municipality }}" readonly>
            </div>
            <div class="col form-group">
                {{ form.country.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.country }}" readonly>
            </div>
            <div class="col form-group">
                {{ form.mb.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.mb }}" readonly>
            </div>
            <div class="col form-group">
                {{ form.jbkjs.label(class="form-control-label") }}
                <input type="text" class="form-control" value="{{ school.jbkjs }}" readonly>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="mySchool" tabindex="-1" role="dialog" aria-labelledby="mySchoolLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mySchoolLabel">Izmena podataka škole</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                    <div class="modal-body">
                    <div class="row form-group">
                        <div class="col form-group">
                            {{ form.schoolname.label(class="form-control-label") }}
                            {% if form.schoolname.errors %}
                                {{ form.schoolname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.schoolname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.schoolname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ form.address.label(class="form-control-label") }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.address(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col form-group">
                            {{ form.zip_code.label(class="form-control-label") }}
                            {% if form.zip_code.errors %}
                                {{ form.zip_code(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.zip_code.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.zip_code(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ form.city.label(class="form-control-label") }}
                            {% if form.city.errors %}
                                {{ form.city(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.city.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.city(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col form-group">
                            {{ form.municipality.label(class="form-control-label") }}
                            {% if form.municipality.errors %}
                                {{ form.municipality(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.municipality.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.municipality(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ form.country.label(class="form-control-label") }}
                            {% if form.country.errors %}
                                {{ form.country(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.country.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.country(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col form-group">
                            {{ form.mb.label(class="form-control-label") }}
                            {% if form.mb.errors %}
                                {{ form.mb(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mb.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.mb(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col form-group">
                            {{ form.jbkjs.label(class="form-control-label") }}
                            {% if form.jbkjs.errors %}
                                {{ form.jbkjs(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.jbkjs.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.jbkjs(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content%}

{% block scripts %}
<script>
    function openBuildingModal(buildingId, buildingName, buildingAddress) {
        document.getElementById("edit_building_id").value = buildingId;
        document.getElementById("edit_building_name").value = buildingName;
        document.getElementById("edit_building_address").value = buildingAddress;
    }
    function openRoomModal(roomId, roomName, roomDynamicName, buildingId) {
        document.getElementById("edit_room_id").value = roomId;
        document.getElementById("edit_room_name").value = roomName;
        document.getElementById("edit_room_dynamic_name").value = roomDynamicName;
        document.getElementById("edit_room_building_id").value = buildingId;
        // inicijalizacija select2 polja
        $('#edit_room_building_id').select2({
            dropdownParent: $('#myRoom'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: false,
            closeOnSelect: true,
        })
    }
    $(document).ready(function () {
        $("#data_1").DataTable({
            order: [[1, "asc"]],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
        });
        $("#data_2").DataTable({
            order: [[1, "asc"]],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
        });
        $('#building_id').select2({
            dropdownParent: $('#newRoom'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: false,
            closeOnSelect: true,
        })
    });
</script>
{% endblock %}