{% extends "layout.html" %}
{% block content %}
<div class="h1">Pregled svih predmeta</div>
<div class="form-group mb-4">
    <a class="btn btn-secondary" href="javascript:history.back()">Nazad</a>
    {% if current_user.authorization == 'admin' %}
        {% if active_inventory_list %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newSingleItem" disabled>Dodajte novi predmet</button>
        {% else %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newSingleItem">Dodajte novi predmet</button>
        {% endif %}
        <a class="btn btn-danger" href="{{ url_for('single_items.update_price') }}">Preračunaj sadašnju vrednost za svaku materijal</a>
    {% endif %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="form-group select2widthmax">
            <label class="form-control-label" for="room_select">Filter po prostoriji</label>
            <select class="form-select" name="room_select" id="room_select">
                <option value="">Sve prostorije</option>
                {% for room in room_list %}
                <option value="{{room.id}}">({{room.name}}) {{room.dynamic_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="current_year_procurement" name="current_year_procurement">
            <label class="form-check-label" for="current_year_procurement">Nabavke u tekućoj godini</label>
        </div>
    </div>
</div>
<div class="modal fade" id="newSingleItem" tabindex="-1" role="dialog" aria-labelledby="newSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newSingleItemLabel">Dodavanje novih pojedinačnih predmeta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.add_single_item') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_item_id">Tip predmeta</label>
                        <select class="form-select" name="add_single_item_item_id" id="add_single_item_item_id">
                            <option value=""></option>
                            {% for item in item_list %}
                            <option value="{{item.id}}">{{item.name}} ({{item.item_category.category_number}}-{{item.item_category.name}} / {{item.item_depreciation_rate.name}}: {{item.item_depreciation_rate.rate}}%)</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_name">Naziv</label>
                        <input class="form-control" type="text" id="add_single_item_name" name="add_single_item_name">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_room">Prostorija</label>
                        <select class="form-select" name="add_single_item_room" id="add_single_item_room">
                            <option value=""></option>
                            {% for room in room_list %}
                            <option value="{{room.id}}">({{room.name}}) {{room.dynamic_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_quantity">Količina</label>
                        <input class="form-control" type="number" id="add_single_item_quantity" name="add_single_item_quantity">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_initial_price">Nabavna cena (svih predmeta)</label>
                        <input class="form-control" type="number" id="add_single_item_initial_price" name="add_single_item_initial_price" step="0.01" inputmode="decimal" placeholder="0.00">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_date">Datum nabavke</label>
                        <input class="form-control" type="date" id="add_single_item_date" name="add_single_item_date">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_supplier">Dobavljač (opciono)</label>
                        <input class="form-control" type="text" id="add_single_item_supplier" name="add_single_item_supplier">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="add_single_item_invoice_number">Broj fakture (opciono)</label>
                        <input class="form-control" type="text" id="add_single_item_invoice_number" name="add_single_item_invoice_number">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-primary">Sačuvajte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editSingleItem" tabindex="-1" role="dialog" aria-labelledby="editSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSingleItemLabel">Izmena serije predmeta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.edit_single_item') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_serial">Serija</label>
                        <input class="form-control" type="text" id="edit_single_item_serial" name="edit_single_item_serial" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_item_id">Tip predmeta</label>
                        <select class="form-select" name="edit_single_item_item_id" id="edit_single_item_item_id">
                            <option value=""></option>
                            {% for item in item_list %}
                            <option value="{{item.id}}">{{item.name}} ({{item.item_category.category_number}}-{{item.item_category.name}} / {{item.item_depreciation_rate.name}}: {{item.item_depreciation_rate.rate}}%)</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_name">Naziv</label>
                        <input class="form-control" type="text" id="edit_single_item_name" name="edit_single_item_name">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_quantity">Količina</label>
                        <input class="form-control" type="number" id="edit_single_item_quantity" name="edit_single_item_quantity">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_initial_price">Nabavna cena (svih predmeta)</label>
                        <input class="form-control" type="number" id="edit_single_item_initial_price" name="edit_single_item_initial_price" step="0.01" inputmode="decimal" placeholder="0.00">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_date">Datum nabavke</label>
                        <input class="form-control" type="date" id="edit_single_item_date" name="edit_single_item_date">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_supplier">Dobavljač (opciono)</label>
                        <input class="form-control" type="text" id="edit_single_item_supplier" name="edit_single_item_supplier">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_invoice_number">Broj fakture (opciono)</label>
                        <input class="form-control" type="text" id="edit_single_item_invoice_number" name="edit_single_item_invoice_number">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-primary">Sačuvajte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="changeRoom" tabindex="-1" role="dialog" aria-labelledby="changeRoomLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeRoomLabel">Promena prostorije</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.move_single_item__to_room') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_name">Naziv predmeta</label>
                        <input class="form-control" type="text" id="single_item_name" name="single_item_name" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_id">ID pojedinačnog predmeta</label>
                        <input class="form-control" type="text" id="single_item_id" name="single_item_id" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_inventory_number">Inventarski broj</label>
                        <input class="form-control" type="text" id="single_item_inventory_number" name="single_item_inventory_number" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit_single_item_room">Premestiti u prostoriju</label>
                        <select class="form-select" name="edit_single_item_room" id="edit_single_item_room">
                            <option value=""></option>
                            {% for room in room_list %}
                            <option value="{{room.id}}">({{room.name}}) {{room.dynamic_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-primary">Sačuvajte</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="expeditureSingleItem" tabindex="-1" role="dialog" aria-labelledby="expeditureSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expeditureSingleItemLabel">Rashodovanje predmeta</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.expediture_single_item') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_id_expediture">ID pojedinačnog predmeta</label>
                        <input class="form-control" type="text" id="single_item_id_expediture" name="single_item_id_expediture" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_name_expediture">Naziv predmeta</label>
                        <input class="form-control" type="text" id="single_item_name_expediture" name="single_item_name_expediture" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_inventory_number_expediture">Inventarski broj</label>
                        <input class="form-control" type="text" id="single_item_inventory_number_expediture" name="single_item_inventory_number_expediture" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_expediture_date_expediture">Datum rashoda</label>
                        <input class="form-control" type="date" id="single_item_expediture_date_expediture" name="single_item_expediture_date_expediture">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-danger">Rasknjižite predmet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="undoExpeditureSingleItem" tabindex="-1" role="dialog" aria-labelledby="undoExpeditureSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="undoExpeditureSingleItemLabel">Rashodovanje predmeta - Storno</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.undo_expediture_single_item') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_id_expediture_undo">ID pojedinačnog predmeta</label>
                        <input class="form-control" type="text" id="single_item_id_expediture_undo" name="single_item_id_expediture_undo" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_name_expediture_undo">Naziv predmeta</label>
                        <input class="form-control" type="text" id="single_item_name_expediture_undo" name="single_item_name_expediture_undo" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_inventory_number_expediture_undo">Inventarski broj</label>
                        <input class="form-control" type="text" id="single_item_inventory_number_expediture_undo" name="single_item_inventory_number_expediture_undo" disabled>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-danger">Storno</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="reverseSingleItem" tabindex="-1" role="dialog" aria-labelledby="reverseSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reverseSingleItemLabel">Izdavanje predmeta na revers</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.reverse_single_item') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_id_reverse">ID pojedinačnog predmeta</label>
                        <input class="form-control" type="text" id="single_item_id_reverse" name="single_item_id_reverse" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_name_reverse">Naziv predmeta</label>
                        <input class="form-control" type="text" id="single_item_name_reverse" name="single_item_name_reverse" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_inventory_number_reverse">Inventarski broj</label>
                        <input class="form-control" type="text" id="single_item_inventory_number_reverse" name="single_item_inventory_number_reverse" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_reverse_date_reverse">Datum izdavanja reversa</label>
                        <input class="form-control" type="date" id="single_item_reverse_date_reverse" name="single_item_reverse_date_reverse">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_reverse_person_reverse">Ime i prezime</label>
                        <input class="form-control" type="text" id="single_item_reverse_person_reverse" name="single_item_reverse_person_reverse">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-danger">Izdajte revers</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="returnReverseSingleItem" tabindex="-1" role="dialog" aria-labelledby="returnReverseSingleItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="returnReverseSingleItemLabel">Povraćaj predmeta sa reversa</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('single_items.return_reverse_single_item') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_id_reverse_return">ID pojedinačnog predmeta</label>
                        <input class="form-control" type="text" id="single_item_id_reverse_return" name="single_item_id_reverse_return" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_name_reverse_return">Naziv predmeta</label>
                        <input class="form-control" type="text" id="single_item_name_reverse_return" name="single_item_name_reverse_return" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_inventory_number_reverse_return">Inventarski broj</label>
                        <input class="form-control" type="text" id="single_item_inventory_number_reverse_return" name="single_item_inventory_number_reverse_return" disabled>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="single_item_reverse_person_reverse_return">Ime i prezime</label>
                        <input class="form-control" type="text" id="single_item_reverse_person_reverse_return" name="single_item_reverse_person_reverse_return" disabled>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkažite</button>
                        <button type="submit" class="btn btn-primary" name="action" value="print_reverse">Štampa reversa</button>
                        <button type="submit" class="btn btn-danger" name="action" value="return_reverse">Povraćaj reversa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ul class="nav nav-tabs justify-content-center mb-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="single_item-tab" data-bs-toggle="tab" data-bs-target="#single_item" type="button" role="tab" aria-controls="single_item" aria-selected="false">Pojedinačni predmeti</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="serial-tab" data-bs-toggle="tab" data-bs-target="#serial" type="button" role="tab" aria-controls="serial" aria-selected="true">Kumulativno po seriji</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="item-tab" data-bs-toggle="tab" data-bs-target="#item" type="button" role="tab" aria-controls="item" aria-selected="false">Kumulativno po tipu predmeta</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="single_item" role="tabpanel" aria-labelledby="single_item-tab">
        <table id="data_1" border="1" class="table table-striped userlist">
            <div class="form-group">
            </div>
            <thead>
                <tr>
                    <th>ID pojedinačnog predmeta</th>
                    <th>Inventarski broj</th>
                    <th>Naziv</th>
                    <th>Nabavna vrednost</th>
                    <th>Vrednost na kraju godine</th>
                    <th>Prostorija</th>
                    <th>Datum nabavke</th>
                    <th>Dobavljač</th>
                    <th>Broj faktuer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade show active" id="serial" role="tabpanel" aria-labelledby="serial-tab">
        <table id="data_2" border="1" class="table table-striped userlist">
            <thead>
                <tr>
                    <th>ID tipa predmeta</th>
                    <th>Serija predmeta</th>
                    <th>Naziv</th>
                    <th>Količina</th>
                    <th>Nabavna vrednost</th>
                    <th>Vrednost na kraju godine</th>
                    <th>datum nabavke</th>
                    <th>Dobavljač</th>
                    <th>Broj faktuer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for item in cumulatively_per_series %}
                <tr>
                    <td>{{ item['item_id'] }}</td>
                    <td>{{ item['series'] }}</td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>{{ "%.2f"|format(item['initial_price']) }}</td>
                    <td>{{ "%.2f"|format(item['current_price']) }}</td>
                    <td>{{ item.purchase_date }}</td>
                    <td>
                        <a class="btn-x btn-primary-x" href="{{url_for('single_items.single_item_rooms', item_id=item['item_id'])}}" title="Pregled predmeta: [{{ item['name'] }}] po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a></a>
                        <a class="btn-x btn-primary-x" href="" title="Izmenite seriju predmeta: [{{ item['name'] }}]"><i class="fa fa-edit awesomedelete" aria-hidden="true"></i></a></a>
                    </td>
                </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="item" role="tabpanel" aria-labelledby="item-tab">
        <table id="data_3" border="1" class="table table-striped userlist">
            <thead>
                <tr>
                    <th>ID predmeta</th>
                    <th>Naziv tipa predmeta</th>
                    <th>Količina</th>
                    <th>Nabavna vrednost</th>
                    <th>Vrednost na kraju godine</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for item in cumulatively_per_item %}
                <tr>
                    <td>{{ item['item_id'] }}</td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>{{ "%.2f"|format(item['initial_price']) }}</td>
                    <td>{{ "%.2f"|format(item['current_price']) }}</td>
                    <td>
                        <a class="btn-x btn-primary-x" href="{{url_for('single_items.single_item_rooms', item_id=item['item_id'])}}" title="Pregled predmeta: [{{ item['name'] }}] po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>
</div>



{% endblock content%}
{% block scripts %}
<script>
    function editSingleItemRoom (singleItemId, inventoryNumber, itemName) {
        document.getElementById("single_item_name").value = itemName
        document.getElementById("single_item_id").value = singleItemId
        document.getElementById("single_item_inventory_number").value = inventoryNumber
    }
    function expeditureSingleItem (singleItemId, inventoryNumber, itemName) {
        document.getElementById("single_item_name_expediture").value = itemName
        document.getElementById("single_item_id_expediture").value = singleItemId
        document.getElementById("single_item_inventory_number_expediture").value = inventoryNumber
    }
    function undoExpeditureSingleItem (singleItemId, inventoryNumber, itemName) {
        document.getElementById("single_item_name_expediture_undo").value = itemName
        document.getElementById("single_item_id_expediture_undo").value = singleItemId
        document.getElementById("single_item_inventory_number_expediture_undo").value = inventoryNumber
    }
    function reverseSingleItem (singleItemId, inventoryNumber, itemName) {
        document.getElementById("single_item_name_reverse").value = itemName
        document.getElementById("single_item_id_reverse").value = singleItemId
        document.getElementById("single_item_inventory_number_reverse").value = inventoryNumber
    }
    function returnReverseSingleItem (singleItemId, inventoryNumber, itemName, reverse_person) {
        document.getElementById("single_item_name_reverse_return").value = itemName
        document.getElementById("single_item_id_reverse_return").value = singleItemId
        document.getElementById("single_item_inventory_number_reverse_return").value = inventoryNumber
        document.getElementById("single_item_reverse_person_reverse_return").value = reverse_person
    }
    function editSingleItem (singleItemSerial, singleItemItemId, singleItemName, singleItemQuantity, singleItemInitialPrice, singleItemDate, singleItemSupplier, singleItemInvoiceNumber) {
        if (singleItemSupplier === 'null') {
            singleItemSupplier = ''
        }
        if (singleItemInvoiceNumber === 'null') {
            singleItemInvoiceNumber = ''
        }
        // Pretvaramo datum u oblik prihvatljiv za input element type="date"
        const date = new Date(singleItemDate);
        const year = date.getFullYear();
        const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Dodajemo nulu ispred meseca ako je jednocifren
        const day = date.getDate().toString().padStart(2, '0'); // Dodajemo nulu ispred dana ako je jednocifren
        const formattedDate = `${year}-${month}-${day}`;
        console.log('datum: ', year, month, day)
        console.log(`kliknuto je dugme editSingleItem: singleItemItemId=${singleItemItemId}, singleItemName=${singleItemName}, singleItemQuantity=${singleItemQuantity}, singleItemInitialPrice=${singleItemInitialPrice}, singleItemDate=${singleItemDate}, singleItemSupplier=${singleItemSupplier}, singleItemInvoiceNumber=${singleItemInvoiceNumber}`);
        $("#edit_single_item_item_id").val(singleItemItemId).trigger("change"); // drugačije je da bi radilo na select2
        document.getElementById("edit_single_item_serial").value = singleItemSerial
        document.getElementById("edit_single_item_name").value = singleItemName
        document.getElementById("edit_single_item_quantity").value = singleItemQuantity
        document.getElementById("edit_single_item_initial_price").value = singleItemInitialPrice
        document.getElementById("edit_single_item_date").value = formattedDate
        document.getElementById("edit_single_item_supplier").value = singleItemSupplier
        document.getElementById("edit_single_item_invoice_number").value = singleItemInvoiceNumber
    }
    $(document).ready(function () {
        $('#room_select').select2({
            // dropdownParent: $('#'),
            placeholder: 'Izabrane su sve prostorije',
            allowClear: true,
            wdth: '100%',
            tags: true,
            closeOnSelect: true,
        })
        var data_1 =$("#data_1").DataTable({
            ajax: {
                url: '{{url_for("single_items.api_single_items")}}',
                type: 'GET',
                data: function (d) {
                    d.room_select = $('#room_select').val();
                    d.current_year_procurement = $('#current_year_procurement').val();
                }
            },
            serverSide: true,
            columns: [
                {data: 'id'},
                {data: 'inventory_number'},
                {data: 'name'},
                { 
                    data: 'initial_price',
                    render: function (data, type, row) {
                        // Ako je tip prikaza podataka ili tip sortiranja, vraćamo zaokruženu vrednost
                        if (type === 'display' || type === 'type') {
                            return parseFloat(data).toFixed(2);
                        }
                        // Inače, vraćamo nenumeroisanu vrednost za druge tipove
                        return data;
                    }
                },
                { 
                    data: 'current_price',
                    render: function (data, type, row) {
                        // Ako je tip prikaza podataka ili tip sortiranja, vraćamo zaokruženu vrednost
                        if (type === 'display' || type === 'type') {
                            return parseFloat(data).toFixed(2);
                        }
                        // Inače, vraćamo nenumeroisanu vrednost za druge tipove
                        return data;
                    }
                },
                {data: 'button_name'},
                {data: 'purchase_date'},
                {data: 'supplier'},
                {data: 'invoice_number'},
                {
                    data: null,
                    render: function (data, type, row) {
                        // Generiše HTML za novu kolonu
                        if (row.room_id) {
                            console.log(row)
                            // Koristi podatke iz reda da konstruiraš hyperlink
                            var url = '{{ url_for("single_items.single_item_rooms", item_id=1) }}';
                            url = url.replace(1, row.item_id);
                            // Kreiraj funkciju za dinamičko generisanje HTML-a unutar onclick
                            var editSingleItemRoomFunction = 'editSingleItemRoom(\'' + row.id + '\', \'' + row.inventory_number + '\', \'' + row.name + '\')';
                            var expeditureSingleItemFunction = 'expeditureSingleItem(\'' + row.id + '\', \'' + row.inventory_number + '\', \'' + row.name + '\')';
                            var undoExpeditureSingleItemFunction = 'undoExpeditureSingleItem(\'' + row.id + '\', \'' + row.inventory_number + '\', \'' + row.name + '\')';
                            var reverseSingleItemFunction = 'reverseSingleItem(\'' + row.id + '\', \'' + row.inventory_number + '\', \'' + row.name + '\')';
                            var returnReverseSingleItemFunction = 'returnReverseSingleItem(\'' + row.id + '\', \'' + row.inventory_number + '\', \'' + row.name + '\', \'' + row.reverse_person + '\')';
                            if (row.room_id === 3) { //ako je predmet izdat na revers: room_id = 3 magacin reversa
                                console.log('predmet je izdat na revers')

                                var html = '<td>' + 
                                            '<a class="btn-x btn-primary-x" href="' + url + '" title="Pregled predmeta po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a>' + 
                                            '<a class="btn-x btn-primary-x" href="" data-bs-toggle="modal" onclick="'+ returnReverseSingleItemFunction +'" data-bs-target="#returnReverseSingleItem" title="Povraćaj reversa"><i class="fa fa-file-circle-minus awesomedelete" aria-hidden="true"></i></a>' +
                                        '</td>';
                            } else if (row.room_id === 2) { //ako je predmet rashodovan: room_id = 2 magacin rashodovanih predmeta
                                console.log('predmet je rashodovan')
                                var html = '<td>' + 
                                            '<a class="btn-x btn-primary-x" href="' + url + '" title="Pregled predmeta po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a>' + 
                                            '<a class="btn-x btn-primary-x" href="" data-bs-toggle="modal" onclick="'+ undoExpeditureSingleItemFunction +'" data-bs-target="#undoExpeditureSingleItem" title="Rashodovati - Storno"><i class="fa fa-trash-can-arrow-up awesomedelete" aria-hidden="true"></i></a>' +
                                        '</td>';
                            } else {
                                console.log('predmet nije izdat na revers')
                                var html = '<td>' + 
                                            '<a class="btn-x btn-primary-x" href="' + url + '" title="Pregled predmeta po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a>' + 
                                            '<a class="btn-x btn-primary-x" href="" data-bs-toggle="modal" onclick="'+ editSingleItemRoomFunction +'" data-bs-target="#changeRoom" title="Premeštanje predmeta u drugu prostoriju"><i class="fa fa-people-carry-box awesomedelete" aria-hidden="true"></i></a>' +
                                            '<a class="btn-x btn-primary-x" href="" data-bs-toggle="modal" onclick="'+ reverseSingleItemFunction +'" data-bs-target="#reverseSingleItem" title="Izdati predmet na revers"><i class="fa fa-file-lines awesomeedit" aria-hidden="true"></i></a>' +
                                            '<a class="btn-x btn-primary-x" href="" data-bs-toggle="modal" onclick="'+ expeditureSingleItemFunction +'" data-bs-target="#expeditureSingleItem" title="Rashodovati"><i class="fa fa-trash-can awesomedelete" aria-hidden="true"></i></a>' +
                                        '</td>';
                            }
                            return html;
                        }
                    }
                }
            ],
            order: [[1, "asc"]],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
        });
        $('#room_select').on('change', function () {
            // Osveži DataTables sa novim podacima
            data_1.ajax.reload();
            data_2.ajax.reload();
            data_3.ajax.reload();
        });
        $('#current_year_procurement').on('change', function () {
            var isChecked = $(this).prop('checked');
            $('#current_year_procurement').val(isChecked ? true : false);
            // Osveži DataTables sa novim podacima
            data_1.ajax.reload();
            data_2.ajax.reload();
            data_3.ajax.reload();
        });
        // ////////////////////////////
        var data_2 = $("#data_2").DataTable({
            ajax: {
                url: '{{url_for("single_items.api_serial")}}',
                type: 'GET',
                data: function (d) {
                    d.room_select = $('#room_select').val();
                    d.current_year_procurement = $('#current_year_procurement').val();
                }
            },
            serverSide: true,
            columns:  [
                { data: 'item_id' },
                { data: 'series' },
                { data: 'name' },
                { data: 'quantity' },
                { data: 'initial_price' },
                { data: 'current_price' },
                { data: 'purchase_date' },
                { data: 'supplier' },
                { data: 'invoice_number' },
                {
                    data: null,
                    render: function (data, type, row) {
                        // Generiše HTML za novu kolonu
                        if (row.room_id) {
                            // Koristi podatke iz reda da konstruiraš hyperlink
                            var url = '{{ url_for("single_items.single_item_rooms", item_id=1) }}';
                            url = url.replace(1, row.item_id);
                            // Kreiraj funkciju za dinamičko generisanje HTML-a unutar onclick
                            // editSingleItem (singleItemName, singleItemQuantity, singleItemInitialPrice, singleItemDate, singleItemSupplier, singleItemInvoiceNumber)
                            var editSingleItemFunction = 'editSingleItem(\'' + row.series + '\', \'' + row.item_id + '\', \'' + row.name + '\', \'' + row.quantity + '\', \'' + row.initial_price + '\', \'' + row.purchase_date + '\', \'' + row.supplier + '\', \'' + row.invoice_number + '\')';

                            var html = '<td>' + 
                                            '<a class="btn-x btn-primary-x" href="' + url + '" title="Pregled predmeta po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a>' + 
                                            '<a class="btn-x btn-primary-x" href="" data-bs-toggle="modal" onclick="'+ editSingleItemFunction +'" data-bs-target="#editSingleItem" title="Izmena serije"><i class="fa fa-edit awesomeedit" aria-hidden="true"></i></a>'
                                        '</td>';
                            return html;
                        }
                    }
                }
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/sr-SP.json",
                stateSave: true
            },
        })
        var data_3 = $('#data_3').DataTable({
            ajax: {
                url: '{{url_for("single_items.api_item")}}',
                type: 'GET',
                data: function (d) {
                    d.room_select = $('#room_select').val();
                    d.current_year_procurement = $('#current_year_procurement').val();
                }
            },
            serverSide: true,
            columns: [
                { data: 'item_id' },
                { data: 'name' },
                { data: 'quantity' },
                { data: 'initial_price' },
                { data: 'current_price' },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (row.item_id) {
                            var url = '{{ url_for("single_items.single_item_rooms", item_id=1) }}';
                            url = url.replace(1, row.item_id);
                            var html = '<td>' + 
                                            '<a class="btn-x btn-primary-x" href="' + url + '" title="Pregled predmeta po prostorijama"><i class="fa fa-door-closed awesomeedit" aria-hidden="true"></i></a>' + 
                                        '</td>';
                            return html;
                        } else {
                            return ''; // Vraća prazan string ako nema item_id
                        }
                    }
                }
,
            ]
        })
        $('#edit_single_item_item_id').select2({
            dropdownParent: $('#editSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: true,
            closeOnSelect: true,
        })
        $('#add_single_item_item_id').select2({
            dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: true,
            closeOnSelect: true,
        })
        $('#add_single_item_room').select2({
            dropdownParent: $('#newSingleItem'),
            placeholder: 'Izaberite opciju',
            allowClear: true,
            width: '100%',
            tags: true,
            closeOnSelect: true,
        })
    });
</script>
{% endblock %}